# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Data (대용량 원본 파일)
*.zip
# DATA/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# 발표 자료
*.pptx
*.pdf
